.project-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap onto multiple lines */
  justify-content: center; /* Center the cards horizontally */
  align-items: center; /* Center the cards vertically */
  margin: 25px;
  overflow-y: auto;
  height: 80vh; /* Set a fixed height */
}

.container-2 {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap onto multiple lines */
  justify-content: center; /* Center the cards horizontally */
}

.item {
  flex: 1 1 300px; /* Adjust the width of each card */
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  transition: border-width 0.3s ease;
}

.project-container::-webkit-scrollbar {
  width: 10px; 
  box-shadow: 1px 1px 1px black;
}

.project-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.project-container::-webkit-scrollbar-thumb {
  background: lightskyblue;
}

.project-container::-webkit-scrollbar-thumb:hover {
  background: lightblue;
}
