.project-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap onto multiple lines */
  justify-content: center; /* Center the cards horizontally */
  align-items: center; /* Center the cards vertically */
  margin: 25px;
  overflow-y: auto;
  height: 80vh; /* Set a fixed height */
}

.container-2 {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap onto multiple lines */
  justify-content: center; /* Center the cards horizontally */
}

.item {
  flex: 1 1 300px; /* Adjust the width of each card */
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  transition: border-width 0.3s ease;
}

