.nav-bar {
    background-color: #181818;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    border-right: white solid .5px;
}

.logo {
    display: block;
    padding: 8px 0;
    -webkit-filter: drop-shadow(2px 2px 2px grey);
        filter: drop-shadow(2px 2px 2px grey);
}

img{
    display: block;
    margin: 2px auto;
    width: 40px;
    height: auto;
    &.sub-logo {
        width: 50px;

        // -webkit-filter: drop-shadow(2px 2px 2px grey);
        // filter: drop-shadow(2px 2px 2px grey);
    }
}

nav {
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    a {
      margin: 30px 0;
      font-size: 22px;
      color: #dadada;
      text-decoration: none;
  
      &.active {
        svg {
          color: red;
        }
      }
  
      &:hover {
        color: #4d4d4e;
      }
    }
  }

  ul {
    position: absolute;
    top: 80vh;
    left: -20px;
   height: 320px;
    display: flex;
    flex-direction: column;
  
    li{
      list-style: none;
      margin-top: 10px;
      a{
        font-size: 22px;
        color: #dadada;
      }
    }
  }
 
  
  
  
  
  
  
  
  


