.project-image{
  width: 450px;
  height: 280px;
  border: 2px solid black;
  animation: fadeIn 3s backwards;
}

.project-image:hover{
border-width: 2px;
border: 2.3px solid red;
box-shadow: 3px 3px 5px rgba(0, 0, 0); 
}


/* Add any additional styling as needed */