.three-d-letter {
  position: absolute;
  top: 50vh;
  left: 50vw;
  font-size: 500px;
  font-weight: bold;
  // text-shadow: 2px 2px 0px black, 3px 3px 0px black, 4px 4px 0px black;
  background: radial-gradient(circle at 12% 25%, rgba(240, 116, 112, 1) 0%, rgba(220, 28, 19, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(30deg);
}
